.color-label-preview {
    align-items: center;
    display: inline-flex;
    margin-top: 5px;
    min-height: 20px;
    min-width: 100px;
}

.field-color_label_preview {
    min-width: 100px;
}

.color-label-preview img {
    display: block;
    height: 20px;
    object-fit: cover;
    width: 100px;
}
